@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
    --color-primary: oklch(26.2% 0.047 35.38);
    --color-secondary: oklch(96.2% 0.015 97.1);
    --color-accent: oklch(73.0% 0.196 65.8);
    --color-yellow: oklch(88.1% 0.185 83.1);
    --color-gray-300: oklch(0.96 0.0098 87.47);
    --color-gray-500: oklch(0.66 0.0094 84.58);

    --color-white: #ffffff;
}